*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1  {
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    padding: 5%;
        
}
h3  {
    padding: 5%;

}
.top-background {
    background-color: #F6F7F8;
    margin: 0;
    
}

p   {
    font-family: 'Lora', sans-serif;
    margin: 1rem;
    text-align: center;

}
.main-nav   {
    text-align: center;

    

}
.navs   {    
    font-family: 'Comfortaa', sans-serif;
    border: 1px solid white;
    background-color: white;
    text-decoration: none;
    display: block;
    padding: 5%;
    margin: 3px 15px;


}
ul  {
    list-style: none;
    padding: 0;
    margin: 0;

}
footer  {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-top: 1px solid grey;
    width: 90vw;
    margin: auto;
    
}
.profile {
    display: flex;
    flex-direction: column;
    align-content: center;
    
    

}
.profileimg {
    width: 65vw;
    padding: 5%;
    margin: auto;


}
img {
    width: 90vw;

}
#portfolio  {
    padding: 10%;
    text-align: center;

}
.port   {
    text-align: center;

}

#contact    {
    text-align: center;
    padding: 10%;

}
.big    {
    display: none;
    
    

}
.contac {
    background-color: #F6F7F8;

}
h2  {
    font-size: 1rem;

}
.btt    {
    font-size: 1rem;
    color: black;
    font-weight: 400;

}
a   {
    text-decoration: none;

}



@media  (min-width: 768px)  {
    
    .name   {
        padding: 5%;

    }
    
    .main-header, .main-nav    {
        display: flex;

    }
    .main-header {
        flex-direction: column;
        align-items: center;
        
    }
    .navs   {
        background-color: #F6F7F8;
        border-style: none;
        padding: 1%;
        margin: 5px;
    }
    .profile    {
        display: flex;
        flex-direction: row-reverse;
        align-content: flex-start;
        padding: 5%;
        justify-content: center;
          
    }
    .intro {
        text-align: left;
        font-size: 1.1rem;
        margin: 0 20px auto 5px;
        
    }
    .profileimg {
        
        padding: 0;
        width: 40%;
    }

    .mainwrap   {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        
        

    }
 
    img {
        max-width: 340px;
        margin: 5px;
        padding: 1%;

    }
    .port   {
        max-width: 350px;

    }   
    h3 {
        margin: 10px;

    }
    .portp  {
        margin: 10px;
    }
    .big    {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        margin: 5px;
        color: black;


    }
    .btt    {
        display: none;
    }
    #portfolio  {
        padding: 2%;

    }
    .contactp   {
        width: 55vw;
        margin: auto;

    }
    #contact    {
        padding: 3%;


    }

}
    @media (min-width: 1024px)    {

        .main-header {
            flex-direction: row;
            justify-content: space-between;
            width: 90vw;
            margin: auto;
            max-width: 1100px;
            height: 120px;
            
            
            
        }
        .profile    {
            width: 90vw;
            margin: auto;
            padding: 0 0 1rem 0;
            max-width: 1100px;
            
        }
        .name   {
            padding: 0;

        }
        .navs   {
            margin-left: 3px;
            padding: 1px;
        }
        .mainwrap   {
            
            max-width: 90vw;
            margin: auto;
        }
        img {
            max-width: 300px;
            margin: 5px;
            padding: 1%;
    
        }
        .port {
            max-width: 300px;

        }
        .mainwrap   {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
             
            
            
            
    
        }
        .contac {
            max-width: 1100px;
            width: 90vw;
            margin: auto;

        }
        #contact    {
            padding: 3%;


        }
        .contactp   {
            width: 42vw;
            margin: auto;

        }
        main {
            max-width: 1100px;
            width: 90vw;
            margin: auto;
            background-color: white;
        }
        footer {
            max-width: 1100px;
            width: 90vw;
            margin: auto;

        }
        body {
            background-color: #F6F7F8;
        }

    }



